{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}

  <style>
        
        body {
            font-family: Arial, sans-serif; 
            background-color: #f0f0f0; 
            color: #333; 
            padding: 20px; 
        }

        h1 {
            font-size: 2rem; 
            margin-bottom: 20px; 
            color: #1094DB; 
        }

        input[type="password"] {
            padding: 10px; 
            margin-bottom: 15px; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
            font-size: 1rem; 
            width: 100%; 
            box-sizing: border-box; 
            transition: border-color 0.3s; 
        }

        input[type="password"]:focus {
            border-color: #1094DB; 
        }

        .btn-primary {
            color: #fff;
            background-color: #1094DB; 
            border: none; 
            padding: 10px 20px; 
            border-radius: 5px; 
            font-size: 1rem; 
            cursor: pointer; 
            transition: background-color 0.3s; 
        }

        .btn-primary:hover {
            background-color: #0a7fc1; 
        }
    </style>


    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialisez votre mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
