{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
    
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: 500;
            line-height: 1.2;
            color: #1094DB;
        }

        .form {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 1rem;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .form label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

        .form input[type="text"],
        .form input[type="email"] {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #1094DB;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            text-decoration: none;
        }

        .btn:hover {
            color: #0056b3;
            background-color: #30FF59;
            border-color: transparent;
            text-decoration: none;
        }

        .btn {
            margin-top: 1rem;
            margin-right: 0.5rem;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    <div class="form">
        {{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_admin_user_index') }}" class="btn btn-back">back to list</a>

    {{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
