{% extends 'base.html.twig' %}

{% block title %} Contactez-nous !{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('code/navbarcss.css') }}">
<nav>
    <div class="nav-content">
      <div class="logo">
        <a href="http://127.0.0.1:8000/">ContractLab.</a>
      </div>
      <ul class="nav-links">
            <li><a href="http://127.0.0.1:8000/">Acceuil</a></li>
            <li><a href="http://127.0.0.1:8000/about">About</a></li>
            <li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
            {% if is_granted('ROLE_RESPONSABLE') %}
            <li><a href="http://127.0.0.1:8000/dashboard_responsable">Dashboard Responsable</a></li>
            {% endif %}
             {% if is_granted('ROLE_ADMIN') %}
            <li><a href="http://127.0.0.1:8000/dashboard">Dashboard Admin</a></li>
        {% endif %} 
            {% if is_granted('ROLE_GESTIONNAIRE') %}
            <li><a href="http://127.0.0.1:8000/dashboard_gestionnaire">Dashboard Gestionnaire</a></li>
            {% endif %} 
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
            <div class="dropdown">
            <button class="fas fa-user dropdown-toggle" id="dropdownMenuButton"><span class="user-name">  {{ app.user.nom }}</span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://127.0.0.1:8000/profile">Profile</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/logout">Logout</a>
            </div>
            </div>
            </li>
            {% endif %}
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="http://127.0.0.1:8000/login">Login</a></li>
           {% endif %}
          
      </ul>
    </div>
  </nav>
<br><br>


<div style="background: url(https://bootstrapious.com/i/snippets/sn-static-header/background.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Contactez-nous !</h1>
        <p class="font-italic mb-0">Votre opinion est précieuse pour nous et nous aidera à améliorer continuellement nos produits et services.</p>
        <p class="font-italic">
            <a href="" class="text-white">
                <u></u>
            </a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">Acceuil</a>
    </div>
</div>

<div class="container py-5">
    <h2 class="h3 font-weight-bold">Contact</h2>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <p class="font-italic text-muted">Nous sommes toujours ravis d'entendre de nos visiteurs. Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter en utilisant le formulaire ci-dessous.</p>
            <p class="font-italic text-muted"></p>
        </div>
        <div class="col-lg-8">
            <p class="font-italic text-muted"> <strong class="font-weight-bold text-dark"> </strong></p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center"></h2>
            <div class="card">
                <div class="card-body">
                    {{ form(formulaire, {'attr': {'class': 'form'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<footer class="footer">
      <div class="footer__addr">
        <img class="img-footer"src="code/progress.png" >
        <h2>Contact</h2>
        <address>5534 Tunis , Tunisia<br> <a class="footer__btn" href="#section2">Email Us</a></address>
      </div>
      <ul class="footer__nav">
        <li class="nav__item">
           <h2 class="nav__title">Réseaux sociaux</h2>
          <ul class="nav__ul">
            <li><a href="https://www.progress.com.tn/">Site web</a></li>
            <li><a href="https://www.facebook.com/ProgressengineeringTunisia">Facebook</a></li>
            <li><a href="https://tn.linkedin.com/company/progress-engineering">Linkedin</a></li>
         </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Adresse</h2>
          <ul class="nav__ul">
            <li><a>Parc Technologique Elgazala</a></li>
            <li><a>Batiment i2 RDC</a></li>
            <li><a>Elgazala، Ariana 2088، TN</a></li>
          </ul>
        </li>
      </ul>
      <div class="legal"><p>&copy; 2024. All rights reserved.</p></div>
    </footer>
<style>



  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
    .img-footer{ width:150px; }

.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh;
}

</style>

<script> // Initialization for ES Users
import { Input, Ripple, initMDB } from "mdb-ui-kit";
initMDB({ Input, Ripple });  </script>
{% endblock %}