<p>Bonjour,</p>

<p>Nous souhaitons vous informer que votre contrat intitulé "{{ contrat.nom }}" avec l'entreprise "{{ contrat.entreprise }}" arrivera à expiration le {{ contrat.dateFin|date('d-m-Y') }}"</p>

<p>Veuillez prendre les mesures nécessaires si vous souhaitez le renouveler ou obtenir plus d'informations.</p>

<p>Merci et bonne journée!</p>